.carrier {
  border-radius: 3px;
  background-color: rgb(238, 238, 238);
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.family {
  background-color: rgb(189, 168, 235);
}